{namespace sll=Sll\Common\ViewHelpers}
<!-- navbar -->
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <a href="/erp" class="logo">
            <span>
                    <img src="typo3conf/ext/erp_management_system_extension/Resources/Public/Main/images/logo-light.png" alt="" height="18">
                </span>
            <i>
                    <img src="typo3conf/ext/erp_management_system_extension/Resources/Public/Main/images/logo-sm.png" alt="" height="22">
                </i>
        </a>
    </div>

    <nav class="navbar-custom">
        <ul class="navbar-right list-inline float-right mb-0">
            <!-- <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                <f:form  class="app-search">
                    <div class="form-group mb-0">
                        <input type="text" class="form-control" placeholder="Search..">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </f:form>
            </li> -->

            <!-- full screen -->
            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                <a class="nav-link waves-effect" href="#" id="btn-fullscreen">
                    <i class="mdi mdi-fullscreen noti-icon"></i>
                </a>
            </li>

            <!-- notification -->
            <sll:notify receiver="{USERUID}" />

            <li class="dropdown notification-list list-inline-item">
                <div class="dropdown notification-list nav-pro-img">
                    <a class="dropdown-toggle nav-link arrow-none waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="typo3conf/ext/erp_management_system_extension/Resources/Public/Main/images/users/user-4.jpg" alt="user" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <a class="dropdown-item" href="system/profile"><i class="mdi mdi-account-circle m-r-5"></i> 个人信息</a>
                        <a class="dropdown-item" href="system/wallet"><i class="mdi mdi-wallet m-r-5"></i> 我的账户</a>
                        <a class="dropdown-item" href="system/awsauth"><i class="mdi mdi-settings m-r-5"></i> 我的授权</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/logout"><i class="mdi mdi-power text-danger"></i> 注销登录</a>
                    </div>
                </div>
            </li>

        </ul>

        <ul class="list-inline menu-left mb-0 mobile-icon">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
        </ul>

        <!-- headermenu -->
        <sll:headmenu parentid="1" />
    </nav>
</div>
<!-- end navbar -->