
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
xmlns:sll="http://typo3.org/ns/Sll/Common/ViewHelpers"
data-namespace-typo3-fluid="true">
<f:layout name="Default" />
	
This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
	Resources:
	Private:
		Templates:
		List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<f:flashMessages as="flashMessages">
		<script>
			<f:for each="{flashMessages}" as="flashMessage">
				notify("{flashMessage.message}", "{flashMessage.severity}");
			</f:for>
		</script>
	</f:flashMessages>
	<div class="dataTables_wrapper dt-bootstrap4">
		<div class="row mb-10">
			<div class="col-sm-12 col-md-9">
				<a href="javascript:void(0);" onclick="uploadProductForm()" class="btn btn-info">上传</a>
			</div>
			<div class="col-sm-12 col-md-3">
				<f:form action="list" name="search" object="{search}">
					<div class="input-group justify-content-end">
						<f:form.textfield name="keyword" value="{keyword}" class="form-control" placeholder="关键字" />
						<div class="input-group-append">
							<span class="input-group-text"><i class="ti-search"></i></span>
						</div>
					</div>
				</f:form>
			</div>
		</div><br/>
		<div class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<sll:widget.paginateBe objects="{products}" as="productPagination"  configuration="{settings.paginate}">
						<table class="table table-hover mb-10">
							<thead>
								<tr>
									<th></th>
									<th>图片</th>
									<th>产品信息</th>
									<th>操作人</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<f:for each="{productPagination}" as="product" iteration="itemIteration">
								<tr>
									<td>{f:cObject(typoscriptObjectPath:'lib.calc',data:'{itemIteration.cycle}+({page}-1)*{settings.paginate.itemsPerPage}')} <input type="checkbox" name="test" class="custom-control-input" id="chk{product.uid}" value="{product.uid}">
									</td>
									<td>--</td>
									<td>
										<a href="#" style="font-size:15px" onclick="edit('106333')">{product.name}&nbsp;&nbsp;&nbsp;&nbsp;<br></a>
										编号:{product.numbering}&nbsp;&nbsp;&nbsp;&nbsp;
										SKU:{product.info.sku}&nbsp;&nbsp;&nbsp;&nbsp;
										库存:{product.cost.sy}&nbsp;&nbsp;&nbsp;&nbsp;
										采购价{product.cost.cg}&nbsp;&nbsp;&nbsp;&nbsp;
										<a href="{product.info.link}" target="view_window">{product.info.source}</a>&nbsp;&nbsp;&nbsp;&nbsp;
										{product.approval.name}&nbsp;&nbsp;&nbsp;&nbsp;
										{product.shelves.name}&nbsp;&nbsp;&nbsp;&nbsp;{product.gettype.name}
									</td>
									<td>{product.business}</td>
									<td>
										<f:link.action title="停用" action="show" class="btn btn-sm btn-info" arguments="{product : product}"><i class="ti-reload"></i></f:link.action>
										<f:link.action title="查看" action="show" class="btn btn-sm btn-primary" arguments="{product : product}"><i class="ti-eye"></i></f:link.action>
										<f:link.action title="编辑" action="edit" class="btn btn-sm btn-success" arguments="{product : product}"><i class="ti-pencil-alt"></i></f:link.action>
										<f:link.action title="删除" action="delete" class="btn btn-sm btn-danger" arguments="{product : product}"><i class="ti-close"></i></f:link.action>
									</td>
								</tr>
								</f:for>
								<tr>
									<td>
										<div class="checkbox-wrapper-mail">
											<input type="checkbox" name="test" class="selectall custom-control-input" id="chkall" value="uid">
											<label for="chkall" class="toggle"></label>
										</div>
									</td>
									<td colspan="8">
										<f:form action="multi" name="datas" >
											<f:form.hidden id="multidelete-items" property="items" value="" />
											<f:form.submit class="btn btn-danger btn-xs delete btn-del btn-delete-all" value="删除选中" />
										</f:form>
									</td>
								</tr>
							</tbody>
						</table>
					</sll:widget.paginateBe>
				</div>
				
			</div>
		</div>
	</div>
	<div id="uploadForm" class="hide">
		<f:form action="uploadProduct" enctype="multipart/form-data" name="product" >
			<table class="table table-bordered mb-10">
				<tbody>
					<tr>
						<th>开始编号：</th>
						<td>
							<input id="beginNumber" name="beginNumber" class="form-control" type="text" placeholder="请输入上传产品起始编号"
								onchange="chufa()">
						</td>
					</tr>
					<tr>
						<th>结束编号：</th>
						<td>
							<input id="endNumber" name="endNumber" class="form-control" type="text" placeholder="输入上传产品结束编号" onchange="chufa()">
						</td>
					</tr>
					<tr>
						<th>产品编号：</th>
						<td>
							<f:form.textarea id="puids" name="puids" class="form-control" cols="2" placeholder="输入多个产品id，请以英文逗号分隔。例：1101,1102,1105" />
						</td>
					</tr>
					<tr>
						<th>更新选项：</th>
						<td>
							<label class="checkbox-inline"><input id="updateOption" type="checkbox">全选</label>&nbsp;
							<label class="checkbox-inline"><input name="updateOption" type="checkbox" value="_POST_PRODUCT_DATA_">产品基本信息</label>&nbsp;
							<label class="checkbox-inline"><input name="updateOption" type="checkbox" value="_POST_PRODUCT_PRICING_DATA_">价格</label>&nbsp;
							<label class="checkbox-inline"><input name="updateOption" type="checkbox" value="_POST_INVENTORY_AVAILABILITY_DATA_">库存</label>&nbsp;
							<label class="checkbox-inline"><input name="updateOption" type="checkbox" value="_POST_PRODUCT_RELATIONSHIP_DATA_">关系</label>&nbsp;
							<label class="checkbox-inline"><input name="updateOption" type="checkbox" value="_POST_PRODUCT_IMAGE_DATA_">图片</label>
						</td>
					</tr> 
					<tr>
						<th>店铺选择：</th>
						<td>
							<f:form.select id="market" name="market" options="{markets}" optionValueField="uid" optionLabelField="name" prependOptionLabel="--请选择店铺--" class="form-control" />
						</td>
					</tr>
					<tr>
						<th>分类选择：</th>
						<td>
							<input type="text" id="categoryValuetext" class="form-control" placeholder="请选择分类" onclick="getCategory()" readonly style="background-color:white;" />
						</td>
					</tr>
					<tr>
						<th>分类节点：</th>
						<td>
							<f:form.textfield id="categoryValueid" name="category" class="form-control" placeholder="分类节点" readonly="readonly" />
						</td>
					</tr>
					<tr>
						<th>分类模板：</th>
						<td>
							<input type="text" id="uploadType" class="form-control" placeholder="请选择分类模板" onclick="getTemplate()" readonly style="background-color:white;" />
							<f:form.hidden name="template" id="uploadTypeId" />
						</td>
					</tr>
				</tbody>
			</table>
			<div class="container-fluid text-right">
				<f:form.submit class="btn btn-space btn-success" value="提交" />
				<a href="javascript:void(0);" onclick="layer.closeAll();" class="btn btn-space btn-danger" >取消</a>
			</div>
		</f:form>
	</div>
	<script>
		var apiurl = 'https://erp.whongbin.com/api/';
		//上传商品
		function uploadProductForm() {
			layer.open({
				type: 1,
				title: '商品上传',
				maxmin: true,
				shadeClose: false,
				area: ['700px', '480px'],
				content: $("#uploadForm"),
			});
		}

		//获取商品类别
		function getCategory(){
			layer.open({
				type : 2,
				title : '商品类别',
				maxmin : true,
				shadeClose : false, 
				area : [ '800px', '620px' ],
				content :  apiurl+'getcategory',
			});
		}
		//获取商品模板
		function getTemplate() {
			layer.open({
				type: 2,
				title: '选择分类模板',
				shadeClose: false, // 点击遮罩关闭层
				area: ['600px', '400px'],
				content: apiurl + 'gettemplate',
			});
		}
		function chufa() {
			if ($("#beginNumber").val() != null && $("#endNumber").val() != null) {
				$.ajax({
					cache: true,
					type: "POST",
					url: apiurl + "queryRange",
					data: {beginNumber: $("#beginNumber").val(),endNumber: $("#endNumber").val()},
					async: false,
					success: function (data) {
						var dataval = "";
						for (var i = 0; i < data.length; i++) {
							dataval += data[i] + ",";
						}
						$("#piId").val(dataval.substring(0, dataval.length - 1));
						$("#piId").valid();
					}
				});
			}
		}
	</script>
</f:section>
</html>