<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <link href="typo3conf/ext/erp_management_system_extension/Resources/Public/Plugins/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="typo3conf/ext/erp_management_system_extension/Resources/Public/Plugins/bootstrap-fileinput/themes/explorer-fas/theme.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="typo3conf/ext/erp_management_system_extension/Resources/Public/Plugins/bootstrap-fileinput/js/plugins/piexif.js" type="text/javascript"></script>
    <script src="typo3conf/ext/erp_management_system_extension/Resources/Public/Plugins/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
    <script src="typo3conf/ext/erp_management_system_extension/Resources/Public/Plugins/bootstrap-fileinput/js/locales/zh.js" type="text/javascript"></script>
    <script src="typo3conf/ext/erp_management_system_extension/Resources/Public/Plugins/bootstrap-fileinput/themes/fas/theme.js" type="text/javascript"></script>
    <script src="typo3conf/ext/erp_management_system_extension/Resources/Public/Plugins/bootstrap-fileinput/themes/explorer-fas/theme.js" type="text/javascript"></script>
    <script>
        var initialPreview = [];var initialPreviewConfig = [];
    </script>
	<div class="tx-erp-management-product">
		<f:render section="content" />
    </div>
    
    <script src="typo3conf/ext/erp_management_product/Resources/Public/Javascript/file-input.js" type="text/javascript"></script> <!-- 初始化文件上传插件 -->
</html>