<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="domesticWaybill">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.domestic_waybill" />
</label><br />
	<f:form.textfield property="domesticWaybill" /><br />
<label for="internationalWaybill">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.international_waybill" />
</label><br />
	<f:form.textfield property="internationalWaybill" /><br />
<label for="estimateFreight">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.estimate_freight" />
</label><br />
	<f:form.textfield property="estimateFreight" /><br />
<label for="actualFreight">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.actual_freight" />
</label><br />
	<f:form.textfield property="actualFreight" /><br />
<label for="aging">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.aging" />
</label><br />
	<f:form.textfield property="aging" /><br />
<label for="weight">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.weight" />
</label><br />
	<f:form.textfield property="weight" /><br />
<label for="length">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.length" />
</label><br />
	<f:form.textfield property="length" /><br />
<label for="width">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.width" />
</label><br />
	<f:form.textfield property="width" /><br />
<label for="height">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.height" />
</label><br />
	<f:form.textfield property="height" /><br />
<label for="quantity">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.quantity" />
</label><br />
	<f:form.textfield property="quantity" /><br />
<label for="goodstype">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.goodstype" />
</label><br />
	<f:form.textfield property="goodstype" /><br />
</html>