<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="domesticWaybill">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.domestic_waybill" />
</label><br />
	<f:form.textfield property="domesticWaybill" /><br />
<label for="internationalWaybill">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.international_waybill" />
</label><br />
	<f:form.textfield property="internationalWaybill" /><br />
<label for="customerOrderNumber">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.customer_order_number" />
</label><br />
	<f:form.textfield property="customerOrderNumber" /><br />
<label for="shippingMethodCode">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.shipping_method_code" />
</label><br />
	<f:form.textfield property="shippingMethodCode" /><br />
<label for="trackingNumber">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.tracking_number" />
</label><br />
	<f:form.textfield property="trackingNumber" /><br />
<label for="transactionNumber">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.transaction_number" />
</label><br />
	<f:form.textfield property="transactionNumber" /><br />
<label for="taxNumber">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.tax_number" />
</label><br />
	<f:form.textfield property="taxNumber" /><br />
<label for="length">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.length" />
</label><br />
	<f:form.textfield property="length" /><br />
<label for="width">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.width" />
</label><br />
	<f:form.textfield property="width" /><br />
<label for="height">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.height" />
</label><br />
	<f:form.textfield property="height" /><br />
<label for="packageCount">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.package_count" />
</label><br />
	<f:form.textfield property="packageCount" /><br />
<label for="weight">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.weight" />
</label><br />
	<f:form.textfield property="weight" /><br />
<label for="applicationType">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.application_type" />
</label><br />
	<f:form.textfield property="applicationType" /><br />
<label for="returnOption">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.return_option" />
</label><br />
	<f:form.textfield property="returnOption" /><br />
<label for="tariffPrepay">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.tariff_prepay" />
</label><br />
	<f:form.textfield property="tariffPrepay" /><br />
<label for="insuranceOption">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.insurance_option" />
</label><br />
	<f:form.textfield property="insuranceOption" /><br />
<label for="coverage">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.coverage" />
</label><br />
	<f:form.textfield property="coverage" /><br />
<label for="sensitiveTypeID">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.sensitive_type_i_d" />
</label><br />
	<f:form.textfield property="sensitiveTypeID" /><br />
<label for="sourceCode">
	<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.source_code" />
</label><br />
	<f:form.textfield property="sourceCode" /><br />
</html>