<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-erp-management-logistics" >
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.domestic_waybill" />
		</td>
		<td>
		{logistics.domesticWaybill}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.international_waybill" />
		</td>
		<td>
		{logistics.internationalWaybill}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.customer_order_number" />
		</td>
		<td>
		{logistics.customerOrderNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.shipping_method_code" />
		</td>
		<td>
		{logistics.shippingMethodCode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.tracking_number" />
		</td>
		<td>
		{logistics.trackingNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.transaction_number" />
		</td>
		<td>
		{logistics.transactionNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.tax_number" />
		</td>
		<td>
		{logistics.taxNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.length" />
		</td>
		<td>
		{logistics.length}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.width" />
		</td>
		<td>
		{logistics.width}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.height" />
		</td>
		<td>
		{logistics.height}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.package_count" />
		</td>
		<td>
		{logistics.packageCount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.weight" />
		</td>
		<td>
		{logistics.weight}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.application_type" />
		</td>
		<td>
		{logistics.applicationType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.return_option" />
		</td>
		<td>
		{logistics.returnOption}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.tariff_prepay" />
		</td>
		<td>
		{logistics.tariffPrepay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.insurance_option" />
		</td>
		<td>
		{logistics.insuranceOption}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.coverage" />
		</td>
		<td>
		{logistics.coverage}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.sensitive_type_i_d" />
		</td>
		<td>
		{logistics.sensitiveTypeID}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.source_code" />
		</td>
		<td>
		{logistics.sourceCode}
		</td>
	</tr>
</table>
</html>