<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-erp-management-logistics" >
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.domestic_waybill" />
		</td>
		<td>
		{logistics.domesticWaybill}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.international_waybill" />
		</td>
		<td>
		{logistics.internationalWaybill}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.estimate_freight" />
		</td>
		<td>
		{logistics.estimateFreight}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.actual_freight" />
		</td>
		<td>
		{logistics.actualFreight}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.aging" />
		</td>
		<td>
		{logistics.aging}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.weight" />
		</td>
		<td>
		{logistics.weight}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.length" />
		</td>
		<td>
		{logistics.length}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.width" />
		</td>
		<td>
		{logistics.width}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.height" />
		</td>
		<td>
		{logistics.height}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.quantity" />
		</td>
		<td>
		{logistics.quantity}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_logistics.goodstype" />
		</td>
		<td>
		{logistics.goodstype}
		</td>
	</tr>
</table>
</html>