<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="eName">
	<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.e_name" />
</label><br />
	<f:form.textfield property="eName" /><br />
<label for="cName">
	<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.c_name" />
</label><br />
	<f:form.textfield property="cName" /><br />
<label for="hSCode">
	<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.h_s_code" />
</label><br />
	<f:form.textfield property="hSCode" /><br />
<label for="quantity">
	<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.quantity" />
</label><br />
	<f:form.textfield property="quantity" /><br />
<label for="unitPrice">
	<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.unit_price" />
</label><br />
	<f:form.textfield property="unitPrice" /><br />
<label for="unitWeight">
	<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.unit_weight" />
</label><br />
	<f:form.textfield property="unitWeight" /><br />
<label for="remark">
	<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.remark" />
</label><br />
	<f:form.textarea property="remark" cols="40" rows="15" /><br />
<label for="productUrl">
	<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.product_url" />
</label><br />
	<f:form.textfield property="productUrl" /><br />
<label for="sku">
	<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.sku" />
</label><br />
	<f:form.textfield property="sku" /><br />
<label for="invoiceRemark">
	<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.invoice_remark" />
</label><br />
	<f:form.textfield property="invoiceRemark" /><br />
<label for="currencyCode">
	<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.currency_code" />
</label><br />
	<f:form.textfield property="currencyCode" /><br />
</html>