<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-erp-management-logistics" >
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.e_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.c_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.h_s_code" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.quantity" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.unit_price" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.unit_weight" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.remark" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.product_url" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.sku" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.invoice_remark" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_parcels.currency_code" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>