<f:if condition="{page.hasSite}">
    <f:then>
        <a class="dynamic-slug-{page.uid}" data-baselink="{page.site.base.scheme}://{page.site.base.host}<f:if condition="{page.sys_language_uid} !== 0">/{page.isocode}</f:if>" href="{page.site.base.scheme}://{page.site.base.host}<f:if condition="{page.sys_language_uid} !== 0">/{page.isocode}</f:if>{page.slug}" target="_blank">
            {page.site.base.scheme}://{page.site.base.host}<f:if condition="{page.sys_language_uid} !== 0">/{page.isocode}</f:if><span class="slug">{page.slug}</span>
        </a>
    </f:then>
    <f:else>
        <f:if condition="{page.sys_language_uid} !== 0">/{page.isocode}</f:if>{page.slug}
    </f:else>
</f:if>