<script>
    var slugNotes = [];
    slugNotes['notes.success.saved'] = "{f:translate(key:'notes.success.saved', extensionName: slug)}";
    slugNotes['notes.info.nochanges'] = "{f:translate(key:'notes.info.nochanges', extensionName: slug)}";
    slugNotes['notes.info.slugexists'] = "{f:translate(key:'notes.info.slugexists', extensionName: slug)}";
    slugNotes['notes.confirm.slashonly'] = "{f:translate(key:'notes.confirm.slashonly', extensionName: slug)}";
    slugNotes['notes.error.noslug'] = "{f:translate(key:'notes.error.noslug', extensionName: slug)}";
    slugNotes['notes.error.ajax'] = "{f:translate(key:'notes.error.ajax', extensionName: slug)}";
    slugNotes['notes.generator.after_generating'] = "{f:translate(key:'notes.generator.after_generating', extensionName: slug)}";
</script>
