<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="msgType">
	<f:translate key="tx_erpmanagementnotify_domain_model_message.msg_type" />
</label><br />
	<f:form.textfield property="msgType" /><br />
<label for="reType">
	<f:translate key="tx_erpmanagementnotify_domain_model_message.re_type" />
</label><br />
	<f:form.textfield property="reType" /><br />
<label for="title">
	<f:translate key="tx_erpmanagementnotify_domain_model_message.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="bodytext">
	<f:translate key="tx_erpmanagementnotify_domain_model_message.bodytext" />
</label><br />
	<f:form.textarea property="bodytext" cols="40" rows="15" /><br />
<label for="sendtime">
	<f:translate key="tx_erpmanagementnotify_domain_model_message.sendtime" />
</label><br />
	<f:form.textfield property="sendtime" /><br />
<label for="sender">
	<f:translate key="tx_erpmanagementnotify_domain_model_message.sender" />
</label><br />
	<f:form.textfield property="sender" /><br />
<label for="receiver">
	<f:translate key="tx_erpmanagementnotify_domain_model_message.receiver" />
</label><br />
	<f:form.textfield property="receiver" /><br />
</html>