<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_erpmanagementimages_domain_model_image.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="reName">
	<f:translate key="tx_erpmanagementimages_domain_model_image.re_name" />
</label><br />
	<f:form.textfield property="reName" /><br />
<label for="original">
	<f:translate key="tx_erpmanagementimages_domain_model_image.original" />
</label><br />
	<f:form.textfield property="original" /><br />
<label for="thumbnail">
	<f:translate key="tx_erpmanagementimages_domain_model_image.thumbnail" />
</label><br />
	<f:form.textfield property="thumbnail" /><br />
</html>