
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" 
xmlns:sll="http://typo3.org/ns/Sll/Common/ViewHelpers"
data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	  
	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<f:flashMessages as="flashMessages">
			<script>
				<f:for each="{flashMessages}" as="flashMessage">
					notify("{flashMessage.message}", "{flashMessage.severity}");
				</f:for>
			</script>
		</f:flashMessages>

		<div class="dataTables_wrapper dt-bootstrap4">
            <f:form action="list" name="search" object="{search}" class="search">
            	<div class="row">
                	<div class="col-md-2 mb-1" title="按国家查询">
						<f:form.select id="country" name="keywords[country]" options="{countrys}" optionValueField="uid" optionLabelField="name" prependOptionLabel="--选择国家--" class="form-control" />
					</div>
                	<div class="col-md-2 mb-1" title="按订单状态查询">
						<f:form.select id="orderStatus" name="keywords[orderStatu]s" options="{orderStatuss}" optionValueField="uid" optionLabelField="name" prependOptionLabel="--订单状态--" class="form-control" />
					</div>
                	<div class="col-md-2 mb-1" title="按支付方式查询">
						<f:form.select id="payment" name="keywords[payment]" options="{payments}" optionValueField="uid" optionLabelField="name" prependOptionLabel="--支付状态--" class="form-control" />
					</div>
                	<div class="col-md-2 mb-1" title="查询国内物流">
						<f:form.select id="gnShipper" name="keywords[gnShippe]r" options="{gnShippers}" optionValueField="uid" optionLabelField="name" prependOptionLabel="--国内物流--" class="form-control" />
					</div>
                	<div class="col-md-2 mb-1" title="查询国际物流">
						<f:form.select id="gjShipper" name="keywords[gjShippe]r" options="{gjShippers}" optionValueField="uid" optionLabelField="name" prependOptionLabel="--国际物流--" class="form-control" />
					</div>
                	<div class="col-md-2 mb-1" title="查询异常">
						<f:form.select id="abnormal" name="keywords[abnormal]" options="{abnormals}" optionValueField="uid" optionLabelField="name" prependOptionLabel="--异常状态--" class="form-control" />
					</div>
				</div>
            	<div class="row">
					<div class="col-md-2 mb-1" title="按订单编号查询">
						<f:form.textfield name="keywords[orderid]" value="{orderid}" class="form-control" placeholder="订单ID" additionalAttributes="{type: 'number'}" />
					</div>
					<div class="col-md-2 mb-1" title="按Amazon订单号查询">
						<f:form.textfield name="keywords[ymxNumber]" value="{ymxNumber}" class="form-control" placeholder="Amazon订单号" />
					</div>
					<div class="col-md-2 mb-1" title="按国内运单号查询">
						<f:form.textfield name="keywords[gnWaybill]" value="{gnWaybill}" class="form-control" placeholder="国内运单号" />
					</div>
					<div class="col-md-2 mb-1" title="按国际运单号查询">
						<f:form.textfield name="keywords[gjWaybill]" value="{gjWaybill}" class="form-control" placeholder="国际运单号" />
					</div>
					<div class="col-md-2 mb-1" title="按国际追踪号查询">
						<f:form.textfield name="keywords[gjTracking]" value="{gjTracking}" class="form-control" placeholder="国际追踪号" />
					</div>
					<div class="col-md-2 mb-1" title="按产品SKU查询">
						<f:form.textfield name="keywords[productSku]" value="{productSku}" class="form-control" placeholder="产品SKU" />
					</div>
				</div>
            	<div class="row">
					<div class="col-md-2 mb-1" title="开始时间">
						<input class="form-control" name="tx_erpmanagementorder_pi1[keywords][starttime]" type="date" value="{starttime}">
					</div>
					<div class="col-md-2 mb-1" title="结束时间">
						<input class="form-control" name="tx_erpmanagementorder_pi1[keywords][endtime]" type="date" value="{endtime}">
					</div>
					<div class="col-md-8 mb-1 text-right">
						<f:link.action action="new" class="btn btn-default">重置</f:link.action>
						<f:link.action action="new" class="btn btn-info">查询</f:link.action>
					</div>
				</div>
			</f:form><br/>
			<div class="row">
				<div class="col-md-10 mb-1">
					<p class="statistics">
						核算订单数：<span>125</span> 
						总金额：<span>37954.47</span> 
						利润：<span>8044.52</span> 
						运费：<span>7810.19</span> 
						采购：<span>11447.50</span> 
						退款数：<span>2</span> 
						退款成本：<span>342.53</span> 
						退款金额：<span>-646.90</span>
					</p>
				</div>
				<div class="col-md-2 mb-1 text-right">
					<f:link.action action="new" class="btn btn-success">更新</f:link.action>
					<f:link.action action="new" class="btn btn-success">添加</f:link.action>
				</div>
			</div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <sll:widget.paginateBe objects="{orders}" as="orderPagination"  configuration="{settings.paginate}">
                            <table class="table table-hover mb-10">
                                <thead> 
									<tr style="font-size: 90%;">
										<th></th>
                                        <th>ID</th>
										<!-- <th>商品</th> -->
										<th width="180">订单号</th>
										<th>下单时间</th>
										<th>Amazon</th>
										<th>国际</th>
										<th>国际单号</th>
										<th>国内</th>
										<th>国内单号</th>
										<th>数量</th>
										<th>金额</th>
										<th>实际金额</th>
										<th>采购</th>
										<th>运费</th>
										<th>利润</th>
										<th>毛利率</th>
									</tr>
								</thead>
                                <tbody>
                                    <f:for each="{orderPagination}" as="order" iteration="itemIteration">
									<tr>
                                        <td> 
											<input type="checkbox" name="test" class="custom-checkbox-input" id="chk-{order.uid}" value="{order.uid}">
										</td>
										<td>{order.uid} <f:link.action action="pull" arguments="{order : order}"><i class="ti-reload"></i></f:link.action></td>
										<!-- <td>{order.goodsTitle}</td> -->
										<td>
											{order.amazonOrderId}<f:link.action action="edit" arguments="{order : order}"><i class="ti-pencil-alt"></i></f:link.action><br>
											<img src="/typo3conf/ext/erp_management_order/Resources/Public/Images/amazonbiao.jpg">{order.erpuser.username}({order.salesChannelName})
										</td>
										<td>{f:format.date(date: order.purchaseDate, format: 'Y-m-d H:i:s')}</td>
										<td class="status-{order.orderStatus}">
											<f:translate key="order_status.{order.orderStatus}" />
										</td>
										<td class="status-{order.shipper.gjStatus}">
											<f:translate key="shipper_status.{order.shipper.gjStatus}" />
										</td>
										<td>
											<f:if condition="{order.shipper.gjWaybill}==0">
												<f:then>--</f:then>
												<f:else>{order.shipper.gjWaybill}</f:else>
											</f:if>
										</td>
										<td class="status-{order.shipper.gjStatus}">
											<f:translate key="shipper_status.{order.shipper.gnStatus}" />
										</td>
										<td>
											<f:if condition="{order.shipper.gnWaybill}==0">
												<f:then>--</f:then>
												<f:else>{order.shipper.gnWaybill}</f:else>
											</f:if>
										</td>
										<td>{f:cObject(typoscriptObjectPath:'lib.calc',data:'{order.numberOfItemsShipped}+{order.numberOfItemsUnshipped}')}</td>
										<td>{order.revenue.orderAmount}</td>
										<td>{order.revenue.actualAmount}</td>
										<td>{order.revenue.costAmount}</td>
										<td>{order.revenue.freight}</td>
										<td>{order.revenue.profit}</td>
										<td>{order.revenue.profitMargin}</td>
									</tr>
									</f:for>
                                    <tr>
                                        <td>
											<input type="checkbox" name="test" class="selectall custom-checkbox-input" id="chkall" value="uid">
                                        </td>
                                        <td colspan="16">
											<f:form action="multi" name="datas" >
                                                <f:form.hidden id="multidelete-items" property="items" value="" />
												<f:form.submit class="btn btn-danger btn-sm delete btn-del btn-delete-all" value="删除选中" />
                                            </f:form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </sll:widget.paginateBe>
                    </div>
                    
                </div>
            </div>
		</div>
	</f:section>
</html>