<div id="wrapper" class="dashboard">
    <f:render partial="Header" arguments="{_all}" />
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <f:render section="Main" />
            </div>
            <!-- content -->

            <f:render partial="Footer" arguments="{_all}" />

        </div>

        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
</div>
