<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="boxNumber">
	<f:translate key="tx_erpmanagementlogistics_domain_model_childorders.box_number" />
</label><br />
	<f:form.textfield property="boxNumber" /><br />
<label for="length">
	<f:translate key="tx_erpmanagementlogistics_domain_model_childorders.length" />
</label><br />
	<f:form.textfield property="length" /><br />
<label for="width">
	<f:translate key="tx_erpmanagementlogistics_domain_model_childorders.width" />
</label><br />
	<f:form.textfield property="width" /><br />
<label for="height">
	<f:translate key="tx_erpmanagementlogistics_domain_model_childorders.height" />
</label><br />
	<f:form.textfield property="height" /><br />
<label for="boxWeight">
	<f:translate key="tx_erpmanagementlogistics_domain_model_childorders.box_weight" />
</label><br />
	<f:form.textfield property="boxWeight" /><br />
<label for="childDetails">
	<f:translate key="tx_erpmanagementlogistics_domain_model_childorders.child_details" />
</label><br />
	<f:form.textarea property="childDetails" cols="40" rows="15" /><br />
</html>