<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="balance">
	<f:translate key="tx_erpmanagementwallet_domain_model_log.balance" />
</label><br />
	<f:form.textfield property="balance" /><br />
<label for="chmoney">
	<f:translate key="tx_erpmanagementwallet_domain_model_log.chmoney" />
</label><br />
	<f:form.textfield property="chmoney" /><br />
<label for="remark">
	<f:translate key="tx_erpmanagementwallet_domain_model_log.remark" />
</label><br />
	<f:form.textarea property="remark" cols="40" rows="15" /><br />
</html>