<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-erp-management-images" >
	<tr>
		<td>
			<f:translate key="tx_erpmanagementimages_domain_model_images.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementimages_domain_model_images.re_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementimages_domain_model_images.original" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementimages_domain_model_images.thumbnail" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>