<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="successTime">
	<f:translate key="tx_erpmanagementwallet_domain_model_record.success_time" />
</label><br />
	<f:form.textfield property="successTime" /><br />
<label for="amount">
	<f:translate key="tx_erpmanagementwallet_domain_model_record.amount" />
</label><br />
	<f:form.textfield property="amount" /><br />
<label for="serialNumber">
	<f:translate key="tx_erpmanagementwallet_domain_model_record.serial_number" />
</label><br />
	<f:form.textfield property="serialNumber" /><br />
<label for="orderNumber">
	<f:translate key="tx_erpmanagementwallet_domain_model_record.order_number" />
</label><br />
	<f:form.textfield property="orderNumber" /><br />
<label for="payment">
	<f:translate key="tx_erpmanagementwallet_domain_model_record.payment" />
</label><br />
	<f:form.textfield property="payment" /><br />
<label for="status">
	<f:translate key="tx_erpmanagementwallet_domain_model_record.status" />
</label><br />
	<f:form.textfield property="status" /><br />
<label for="billtype">
	<f:translate key="tx_erpmanagementwallet_domain_model_record.billtype" />
</label><br />
	<f:form.textfield property="billtype" /><br />
<label for="remark">
	<f:translate key="tx_erpmanagementwallet_domain_model_record.remark" />
</label><br />
	<f:form.textarea property="remark" cols="40" rows="15" /><br />
<label for="walletid">
	<f:translate key="tx_erpmanagementwallet_domain_model_record.walletid" />
</label><br />
	<f:form.textfield property="walletid" /><br />
</html>