<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-erp-management-wallet" >
	<tr>
		<td>
			<f:translate key="tx_erpmanagementwallet_domain_model_record.success_time" />
		</td>
		<td>
		{record.successTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementwallet_domain_model_record.amount" />
		</td>
		<td>
		{record.amount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementwallet_domain_model_record.serial_number" />
		</td>
		<td>
		{record.serialNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementwallet_domain_model_record.order_number" />
		</td>
		<td>
		{record.orderNumber}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementwallet_domain_model_record.payment" />
		</td>
		<td>
		{record.payment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementwallet_domain_model_record.status" />
		</td>
		<td>
		{record.status}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementwallet_domain_model_record.billtype" />
		</td>
		<td>
		{record.billtype}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementwallet_domain_model_record.remark" />
		</td>
		<td>
		{record.remark}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementwallet_domain_model_record.walletid" />
		</td>
		<td>
		{record.walletid}
		</td>
	</tr>
</table>
</html>