<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="countryCode">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.country_code" />
</label><br />
	<f:form.textfield property="countryCode" /><br />
<label for="firstName">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="company">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.company" />
</label><br />
	<f:form.textfield property="company" /><br />
<label for="street">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.street" />
</label><br />
	<f:form.textfield property="street" /><br />
<label for="streetAddress1">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.street_address1" />
</label><br />
	<f:form.textfield property="streetAddress1" /><br />
<label for="streetAddress2">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.street_address2" />
</label><br />
	<f:form.textfield property="streetAddress2" /><br />
<label for="city">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="state">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.state" />
</label><br />
	<f:form.textfield property="state" /><br />
<label for="zip">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="phone">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
<label for="houseNumber">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.house_number" />
</label><br />
	<f:form.textfield property="houseNumber" /><br />
<label for="email">
	<f:translate key="tx_erpmanagementlogistics_domain_model_receiver.email" />
</label><br />
	<f:form.textfield property="email" /><br />
</html>