<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:be.container>

        <f:be.pageRenderer
            includeCssFiles="{1: '{f:uri.resource(path:\'Css/Backend.css\')}'}"
            includeJsFiles="{1: '{f:uri.resource(path:\'Libs/jquery-3.1.1.min.js\')}', 2:'{f:uri.resource(path:\'JavaScript/Slug.js\')}'}"
            />

            <div class="typo3-fullDoc">
                <div id="typo3-docbody">
                    <div id="typo3-inner-docbody">
                        <f:flashMessages />
                        <f:render section="content" />
                        <hr>
                        &copy; 2019 by <a href="https://simon-koehler.com/?pk_campaign=slug&pk_kwd=slug&pk_source=TYPO3-Extension" target="_blank">Simon Köhler</a> | <a href="#" data-toggle="modal" data-target="#modal-extension-info">Info</a> | <a href="https://github.com/koehlersimon/slug#custom-records" target="_blank">How to use custom records</a> | <a href="https://www.digistore24.com/redir/246076/GOCHILLA/" target="_blank">Learn TYPO3</a>
                    </div>
                </div>
            </div>

            <div id="modal-extension-info" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title"><strong>Extension Information</strong></h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <center>
                                        <i class="fa fa-search fa-3x"></i>
                                        <h4><strong>You want to look into the code?</strong></h4>
                                        <a href="https://github.com/koehlersimon/slug" target="_blank">https://github.com/koehlersimon/slug</a>
                                    </center>
                                </div>
                                <div class="col-sm-6">
                                    <center>
                                        <i class="fa fa-warning fa-3x"></i>
                                        <h4><strong>You want report an issue?</strong></h4>
                                        <a href="https://github.com/koehlersimon/slug/issues" target="_blank">https://github.com/koehlersimon/slug/issues</a>
                                    </center>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">

                                </div>
                                <div class="col-sm-8">
                                    <center>
                                        <i class="fa fa-support fa-3x"></i>
                                        <h4><strong>Support Development?</strong></h4>
                                        <p>This extension is developed by <a href="https://simon-koehler.com/?pk_campaign=slug&pk_kwd=slug&pk_source=TYPO3-Extension" target="_blank"><strong>Simon Köhler</strong></a>. If you want to support the development with a donation, you can do this with PayPal via the link below.</p>
                                        <a class="btn btn-warning btn-lg" href="https://PayPal.Me/typo3freelancer" target="_blank"><i class="fa fa-paypal"></i> Support Development</a>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

    </f:be.container>
</html>
