<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="orderAmount">
	<f:translate key="tx_erpmanagementorder_domain_model_revenue.order_amount" />
</label><br />
	<f:form.textfield property="orderAmount" /><br />
<label for="commission">
	<f:translate key="tx_erpmanagementorder_domain_model_revenue.commission" />
</label><br />
	<f:form.textfield property="commission" /><br />
<label for="arrive">
	<f:translate key="tx_erpmanagementorder_domain_model_revenue.arrive" />
</label><br />
	<f:form.textfield property="arrive" /><br />
<label for="costAmount">
	<f:translate key="tx_erpmanagementorder_domain_model_revenue.cost_amount" />
</label><br />
	<f:form.textfield property="costAmount" /><br />
<label for="freight">
	<f:translate key="tx_erpmanagementorder_domain_model_revenue.freight" />
</label><br />
	<f:form.textfield property="freight" /><br />
<label for="serviceFee">
	<f:translate key="tx_erpmanagementorder_domain_model_revenue.service_fee" />
</label><br />
	<f:form.textfield property="serviceFee" /><br />
<label for="profit">
	<f:translate key="tx_erpmanagementorder_domain_model_revenue.profit" />
</label><br />
	<f:form.textfield property="profit" /><br />
<label for="profitMargin">
	<f:translate key="tx_erpmanagementorder_domain_model_revenue.profit_margin" />
</label><br />
	<f:form.textfield property="profitMargin" /><br />
</html>