<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="amazonOrderId">
	<f:translate key="tx_erpmanagementorder_domain_model_order.amazon_order_id" />
</label><br />
	<f:form.textfield property="amazonOrderId" /><br />
<label for="purchaseDate">
	<f:translate key="tx_erpmanagementorder_domain_model_order.purchase_date" />
</label><br />
	<f:form.textfield property="purchaseDate" /><br />
<label for="lastUpdateDate">
	<f:translate key="tx_erpmanagementorder_domain_model_order.last_update_date" />
</label><br />
	<f:form.textfield property="lastUpdateDate" /><br />
<label for="orderStatus">
	<f:translate key="tx_erpmanagementorder_domain_model_order.order_status" />
</label><br />
	<f:form.textfield property="orderStatus" /><br />
<label for="fulfillmentChannel">
	<f:translate key="tx_erpmanagementorder_domain_model_order.fulfillment_channel" />
</label><br />
	<f:form.textfield property="fulfillmentChannel" /><br />
<label for="shipServiceLevel">
	<f:translate key="tx_erpmanagementorder_domain_model_order.ship_service_level" />
</label><br />
	<f:form.textfield property="shipServiceLevel" /><br />
<label for="salesChannel">
	<f:translate key="tx_erpmanagementorder_domain_model_order.sales_channel" />
</label><br />
	<f:form.textfield property="salesChannel" /><br />
<label for="shipperName">
	<f:translate key="tx_erpmanagementorder_domain_model_order.shipper_name" />
</label><br />
	<f:form.textfield property="shipperName" /><br />
<label for="shipperAddressLine1">
	<f:translate key="tx_erpmanagementorder_domain_model_order.shipper_address_line1" />
</label><br />
	<f:form.textarea property="shipperAddressLine1" cols="40" rows="15" /><br />
<label for="shipperAddressLine2">
	<f:translate key="tx_erpmanagementorder_domain_model_order.shipper_address_line2" />
</label><br />
	<f:form.textfield property="shipperAddressLine2" /><br />
<label for="shipperAddressLine3">
	<f:translate key="tx_erpmanagementorder_domain_model_order.shipper_address_line3" />
</label><br />
	<f:form.textfield property="shipperAddressLine3" /><br />
<label for="shipperCity">
	<f:translate key="tx_erpmanagementorder_domain_model_order.shipper_city" />
</label><br />
	<f:form.textfield property="shipperCity" /><br />
<label for="shipperStateOrRegion">
	<f:translate key="tx_erpmanagementorder_domain_model_order.shipper_state_or_region" />
</label><br />
	<f:form.textfield property="shipperStateOrRegion" /><br />
<label for="shipperCountryCode">
	<f:translate key="tx_erpmanagementorder_domain_model_order.shipper_country_code" />
</label><br />
	<f:form.textfield property="shipperCountryCode" /><br />
<label for="shipperPhone">
	<f:translate key="tx_erpmanagementorder_domain_model_order.shipper_phone" />
</label><br />
	<f:form.textfield property="shipperPhone" /><br />
<label for="shipperAddressType">
	<f:translate key="tx_erpmanagementorder_domain_model_order.shipper_address_type" />
</label><br />
	<f:form.textfield property="shipperAddressType" /><br />
<label for="shipperIsAddressSharingConfidential">
	<f:translate key="tx_erpmanagementorder_domain_model_order.shipper_is_address_sharing_confidential" />
</label><br />
	<f:form.textfield property="shipperIsAddressSharingConfidential" /><br />
<label for="currencyCode">
	<f:translate key="tx_erpmanagementorder_domain_model_order.currency_code" />
</label><br />
	<f:form.textfield property="currencyCode" /><br />
<label for="amount">
	<f:translate key="tx_erpmanagementorder_domain_model_order.amount" />
</label><br />
	<f:form.textfield property="amount" /><br />
<label for="numberOfItemsShipped">
	<f:translate key="tx_erpmanagementorder_domain_model_order.number_of_items_shipped" />
</label><br />
	<f:form.textfield property="numberOfItemsShipped" /><br />
<label for="numberOfItemsUnshipped">
	<f:translate key="tx_erpmanagementorder_domain_model_order.number_of_items_unshipped" />
</label><br />
	<f:form.textfield property="numberOfItemsUnshipped" /><br />
<label for="paymentMethod">
	<f:translate key="tx_erpmanagementorder_domain_model_order.payment_method" />
</label><br />
	<f:form.textfield property="paymentMethod" /><br />
<label for="paymentMethodDetails">
	<f:translate key="tx_erpmanagementorder_domain_model_order.payment_method_details" />
</label><br />
	<f:form.textarea property="paymentMethodDetails" cols="40" rows="15" /><br />
<label for="marketplaceId">
	<f:translate key="tx_erpmanagementorder_domain_model_order.marketplace_id" />
</label><br />
	<f:form.textfield property="marketplaceId" /><br />
<label for="buyerEmail">
	<f:translate key="tx_erpmanagementorder_domain_model_order.buyer_email" />
</label><br />
	<f:form.textfield property="buyerEmail" /><br />
<label for="buyerName">
	<f:translate key="tx_erpmanagementorder_domain_model_order.buyer_name" />
</label><br />
	<f:form.textfield property="buyerName" /><br />
<label for="shipmentServiceLevelCategory">
	<f:translate key="tx_erpmanagementorder_domain_model_order.shipment_service_level_category" />
</label><br />
	<f:form.textfield property="shipmentServiceLevelCategory" /><br />
<label for="shippedByAmazonTFM">
	<f:translate key="tx_erpmanagementorder_domain_model_order.shipped_by_amazon_t_f_m" />
</label><br />
	<f:form.textfield property="shippedByAmazonTFM" /><br />
<label for="orderType">
	<f:translate key="tx_erpmanagementorder_domain_model_order.order_type" />
</label><br />
	<f:form.textfield property="orderType" /><br />
<label for="earliestShipDate">
	<f:translate key="tx_erpmanagementorder_domain_model_order.earliest_ship_date" />
</label><br />
	<f:form.textfield property="earliestShipDate" /><br />
<label for="latestShipDate">
	<f:translate key="tx_erpmanagementorder_domain_model_order.latest_ship_date" />
</label><br />
	<f:form.textfield property="latestShipDate" /><br />
<label for="earliestDeliveryDate">
	<f:translate key="tx_erpmanagementorder_domain_model_order.earliest_delivery_date" />
</label><br />
	<f:form.textfield property="earliestDeliveryDate" /><br />
<label for="latestDeliveryDate">
	<f:translate key="tx_erpmanagementorder_domain_model_order.latest_delivery_date" />
</label><br />
	<f:form.textfield property="latestDeliveryDate" /><br />
<label for="businessOrder">
	<f:translate key="tx_erpmanagementorder_domain_model_order.business_order" />
</label><br />
	<f:form.textfield property="businessOrder" /><br />
<label for="prime">
	<f:translate key="tx_erpmanagementorder_domain_model_order.prime" />
</label><br />
	<f:form.textfield property="prime" /><br />
<label for="globalExpressEnabled">
	<f:translate key="tx_erpmanagementorder_domain_model_order.global_express_enabled" />
</label><br />
	<f:form.textfield property="globalExpressEnabled" /><br />
<label for="premiumOrder">
	<f:translate key="tx_erpmanagementorder_domain_model_order.premium_order" />
</label><br />
	<f:form.textfield property="premiumOrder" /><br />
<label for="replacementOrder">
	<f:translate key="tx_erpmanagementorder_domain_model_order.replacement_order" />
</label><br />
	<f:form.textfield property="replacementOrder" /><br />
<label for="soldByAB">
	<f:translate key="tx_erpmanagementorder_domain_model_order.sold_by_a_b" />
</label><br />
	<f:form.textfield property="soldByAB" /><br />
</html>