<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-erp-management-workorder" >
	<tr>
		<td>
			<f:translate key="tx_erpmanagementworkorder_domain_model_workorder.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementworkorder_domain_model_workorder.worktype" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementworkorder_domain_model_workorder.closetime" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementworkorder_domain_model_workorder.contact" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementworkorder_domain_model_workorder.telephone" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>