<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-erp-management-order" >
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.name_zh" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.name_en" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.sku" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.number" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.weight" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.length" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.width" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.height" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.email" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.route" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.providers" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.gn_waybill" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.gn_tracking" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.gn_status" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.gj_waybill" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.gj_tracking" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.gj_status" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.delivery_type" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.remark" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.customermail" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementorder_domain_model_shipper.logs" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>