<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_erpmanagementorder_domain_model_address.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="telephone">
	<f:translate key="tx_erpmanagementorder_domain_model_address.telephone" />
</label><br />
	<f:form.textfield property="telephone" /><br />
<label for="postcode">
	<f:translate key="tx_erpmanagementorder_domain_model_address.postcode" />
</label><br />
	<f:form.textfield property="postcode" /><br />
<label for="state">
	<f:translate key="tx_erpmanagementorder_domain_model_address.state" />
</label><br />
	<f:form.textfield property="state" /><br />
<label for="city">
	<f:translate key="tx_erpmanagementorder_domain_model_address.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="streetNumber">
	<f:translate key="tx_erpmanagementorder_domain_model_address.street_number" />
</label><br />
	<f:form.textfield property="streetNumber" /><br />
<label for="address">
	<f:translate key="tx_erpmanagementorder_domain_model_address.address" />
</label><br />
	<f:form.textfield property="address" /><br />
</html>