<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-erp-management-product-upload" >
	<tr>
		<td>
			<f:translate key="tx_erpmanagementproductupload_domain_model_upload.subdate" />
		</td>
		<td>
		{upload.subdate}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementproductupload_domain_model_upload.lang" />
		</td>
		<td>
		{upload.lang}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementproductupload_domain_model_upload.timing" />
		</td>
		<td>
		{upload.timing}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementproductupload_domain_model_upload.st1" />
		</td>
		<td>
		{upload.st1}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementproductupload_domain_model_upload.st2" />
		</td>
		<td>
		{upload.st2}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementproductupload_domain_model_upload.st3" />
		</td>
		<td>
		{upload.st3}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementproductupload_domain_model_upload.st4" />
		</td>
		<td>
		{upload.st4}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementproductupload_domain_model_upload.st5" />
		</td>
		<td>
		{upload.st5}
		</td>
	</tr>
</table>
</html>