<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="market">
	<f:translate key="tx_erpmanagementprupload_domain_model_upload.market" />
</label><br />
	<f:form.textfield property="market" /><br />
<label for="lang">
	<f:translate key="tx_erpmanagementprupload_domain_model_upload.lang" />
</label><br />
	<f:form.textfield property="lang" /><br />
<label for="categoryText">
	<f:translate key="tx_erpmanagementprupload_domain_model_upload.category_text" />
</label><br />
	<f:form.textfield property="categoryText" /><br />
<label for="categoryNode">
	<f:translate key="tx_erpmanagementprupload_domain_model_upload.category_node" />
</label><br />
	<f:form.textfield property="categoryNode" /><br />
<label for="template">
	<f:translate key="tx_erpmanagementprupload_domain_model_upload.template" />
</label><br />
	<f:form.textfield property="template" /><br />
<label for="uploadtime">
	<f:translate key="tx_erpmanagementprupload_domain_model_upload.uploadtime" />
</label><br />
	<f:form.textfield property="uploadtime" /><br />
<label for="cpStatus">
	<f:translate key="tx_erpmanagementprupload_domain_model_upload.cp_status" />
</label><br />
	<f:form.textfield property="cpStatus" /><br />
<label for="gxStatus">
	<f:translate key="tx_erpmanagementprupload_domain_model_upload.gx_status" />
</label><br />
	<f:form.textfield property="gxStatus" /><br />
<label for="tpStatus">
	<f:translate key="tx_erpmanagementprupload_domain_model_upload.tp_status" />
</label><br />
	<f:form.textfield property="tpStatus" /><br />
<label for="kcStatus">
	<f:translate key="tx_erpmanagementprupload_domain_model_upload.kc_status" />
</label><br />
	<f:form.textfield property="kcStatus" /><br />
<label for="jgStatus">
	<f:translate key="tx_erpmanagementprupload_domain_model_upload.jg_status" />
</label><br />
	<f:form.textfield property="jgStatus" /><br />
<label for="lastUpdateDate">
	<f:translate key="tx_erpmanagementprupload_domain_model_upload.last_update_date" />
</label><br />
	<f:form.textfield property="lastUpdateDate" /><br />
</html>