<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-erp-management-prupload" >
	<tr>
		<td>
			<f:translate key="tx_erpmanagementprupload_domain_model_upload.market" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementprupload_domain_model_upload.lang" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementprupload_domain_model_upload.category_text" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementprupload_domain_model_upload.category_node" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementprupload_domain_model_upload.template" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementprupload_domain_model_upload.uploadtime" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementprupload_domain_model_upload.cp_status" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementprupload_domain_model_upload.gx_status" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementprupload_domain_model_upload.tp_status" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementprupload_domain_model_upload.kc_status" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementprupload_domain_model_upload.jg_status" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementprupload_domain_model_upload.last_update_date" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>