<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="cg">
	<f:translate key="tx_erpmanagementproduct_domain_model_cost.cg" />
</label><br />
	<f:form.textfield property="cg" /><br />
<label for="zl">
	<f:translate key="tx_erpmanagementproduct_domain_model_cost.zl" />
</label><br />
	<f:form.textfield property="zl" /><br />
<label for="cc">
	<f:translate key="tx_erpmanagementproduct_domain_model_cost.cc" />
</label><br />
	<f:form.textfield property="cc" /><br />
<label for="kd">
	<f:translate key="tx_erpmanagementproduct_domain_model_cost.kd" />
</label><br />
	<f:form.textfield property="kd" /><br />
<label for="gd">
	<f:translate key="tx_erpmanagementproduct_domain_model_cost.gd" />
</label><br />
	<f:form.textfield property="gd" /><br />
<label for="yf">
	<f:translate key="tx_erpmanagementproduct_domain_model_cost.yf" />
</label><br />
	<f:form.textfield property="yf" /><br />
<label for="zk">
	<f:translate key="tx_erpmanagementproduct_domain_model_cost.zk" />
</label><br />
	<f:form.textfield property="zk" /><br />
<label for="calculation">
	<f:translate key="tx_erpmanagementproduct_domain_model_cost.calculation" />
</label><br />
	<f:form.textarea property="calculation" cols="40" rows="15" /><br />
<label for="sy">
	<f:translate key="tx_erpmanagementproduct_domain_model_cost.sy" />
</label><br />
	<f:form.textfield property="sy" /><br />
<label for="sj">
	<f:translate key="tx_erpmanagementproduct_domain_model_cost.sj" />
</label><br />
	<f:form.textfield property="sj" /><br />
</html>