<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="tradeName">
	<f:translate key="tx_erpmanagementproduct_domain_model_info.trade_name" />
</label><br />
	<f:form.textfield property="tradeName" /><br />
<label for="brandName">
	<f:translate key="tx_erpmanagementproduct_domain_model_info.brand_name" />
</label><br />
	<f:form.textfield property="brandName" /><br />
<label for="tradeNum">
	<f:translate key="tx_erpmanagementproduct_domain_model_info.trade_num" />
</label><br />
	<f:form.textfield property="tradeNum" /><br />
<label for="sku">
	<f:translate key="tx_erpmanagementproduct_domain_model_info.sku" />
</label><br />
	<f:form.textfield property="sku" /><br />
<label for="source">
	<f:translate key="tx_erpmanagementproduct_domain_model_info.source" />
</label><br />
	<f:form.textfield property="source" /><br />
<label for="link">
	<f:translate key="tx_erpmanagementproduct_domain_model_info.link" />
</label><br />
	<f:form.textfield property="link" /><br />
<label for="code">
	<f:translate key="tx_erpmanagementproduct_domain_model_info.code" />
</label><br />
	<f:form.textfield property="code" /><br />
<label for="remark">
	<f:translate key="tx_erpmanagementproduct_domain_model_info.remark" />
</label><br />
	<f:form.textfield property="remark" /><br />
</html>