<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="countryCode">
	<f:translate key="tx_erpmanagementlogistics_domain_model_sender.country_code" />
</label><br />
	<f:form.textfield property="countryCode" /><br />
<label for="firstName">
	<f:translate key="tx_erpmanagementlogistics_domain_model_sender.first_name" />
</label><br />
	<f:form.textfield property="firstName" /><br />
<label for="lastName">
	<f:translate key="tx_erpmanagementlogistics_domain_model_sender.last_name" />
</label><br />
	<f:form.textfield property="lastName" /><br />
<label for="company">
	<f:translate key="tx_erpmanagementlogistics_domain_model_sender.company" />
</label><br />
	<f:form.textfield property="company" /><br />
<label for="street">
	<f:translate key="tx_erpmanagementlogistics_domain_model_sender.street" />
</label><br />
	<f:form.textfield property="street" /><br />
<label for="city">
	<f:translate key="tx_erpmanagementlogistics_domain_model_sender.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="state">
	<f:translate key="tx_erpmanagementlogistics_domain_model_sender.state" />
</label><br />
	<f:form.textfield property="state" /><br />
<label for="zip">
	<f:translate key="tx_erpmanagementlogistics_domain_model_sender.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="phone">
	<f:translate key="tx_erpmanagementlogistics_domain_model_sender.phone" />
</label><br />
	<f:form.textfield property="phone" /><br />
</html>