<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-erp-management-logistics" >
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_sender.country_code" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_sender.first_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_sender.last_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_sender.company" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_sender.street" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_sender.city" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_sender.state" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_sender.zip" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementlogistics_domain_model_sender.phone" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>