$green: green;
$blue: steelblue;
$gray: #999;

div#typo3-docbody{
    top: 0px;
}

#globalHeader{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 1.4rem;
    padding-bottom: 1rem;
}

tr.rootpage{
    background-color: #ccc;
    color: #000;
}

input.has-been-changed{
    background-color: lighten(lightcyan,2%);
}

.slug-list-table{
    td.page-title{
        max-width: 340px;
    }
    tr.level-2{
        td.page-title{
           padding-left: 30px;
        }
    }

    tr.level-3{
        td.page-title{
           padding-left: 60px;
        }
    }
}

td.slug-input{
   width: 50%;
}

.slug-input,
.slug-input-news{
    min-width: 280px;
}

.text-blue{
    color: $blue;
}

.text-gray{
    color: $gray;
}

.text-green{
    color: $green;
}

.f3-widget-paginator{
    clear: both;
    display: block;
    margin: 0;
    padding: 0;
    li{
        display: inline-block;
        padding: 10px 15px;
        &.current{
            font-weight: bold;
        }
        a{
            padding: 0;
        }
    }
}

tr.record-info-row{
    display: none;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    &.visible{
        display: table-row;
        opacity: 1;
    }
}

.google-preview{
    background: white;
    padding: 30px;
    position: relative;
    &:after{
        content: "Google Preview";
        position: absolute;
        font-size: 10px;
        top: 0;
        right: 0;
        background-color: #eee;
        color: #999;
    }
    .main{
        color: #1a0dab;
        display: inline-block;
        font-weight: normal;
        margin: 0;
        padding: 0;
    }
    .url a{
        color: #006621;
        font-size: 14px;
        padding-top: 1px;
    }
    .text{
        word-wrap: break-word;
        line-height: 1.4;
        color: #545454;
    }
}

.facebook-preview{

    font-family: -apple-system, BlinkMacSystemFont, Roboto, Arial, Helvetica, sans-serif;

    .link-preview{
        width: 527px;
        font-size: 14px;
        background-color: #f2f3f5;
        box-shadow: 5px 5px 6px rgba(0,0,0,0.1);
        .image{
            display: block;
            height: 273px;
        }
        .text{
            display: block;
            padding: 10px 12px;
            border-bottom: 1px solid #dddfe2;
            .domain{
                font-size: 12px;
                text-overflow: ellipsis;
                text-transform: uppercase;
                white-space: nowrap;
                line-height: 16px;
                color: #606770;
            }
            .title{
                color: #1d2129;
                font-size: 16px;
                line-height: 20px;
                font-weight: 600;
            }
            .description{
                margin-top: 3px;
                color: #606770;
                font-size: 14px;
                line-height: 20px;
                word-break: break-word;
            }
        }
    }

}

.tree-item > a.active{
    color: $green;
    font-weight: bold;
    text-decoration: none;
}

.tree-result{
    h1,h2,h3,h4,h5,h6{
        margin-top: 0;
    }
    .input-group{
        margin-bottom: 1.4rem;
    }
}

.well{
    border: none;
    box-shadow: none;
}

.tab-pane{
    padding: 20px;
}
