<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-friend-link" >
	<tr>
		<td>
			<f:translate key="tx_friendlink_domain_model_links.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_friendlink_domain_model_links.webmaster" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_friendlink_domain_model_links.links" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_friendlink_domain_model_links.introduction" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_friendlink_domain_model_links.icon" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_friendlink_domain_model_links.nofollow" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>