<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="combination">
	<f:translate key="tx_erpmanagementproduct_domain_model_variants.combination" />
</label><br />
	<f:form.textfield property="combination" /><br />
<label for="skuNew">
	<f:translate key="tx_erpmanagementproduct_domain_model_variants.sku_new" />
</label><br />
	<f:form.textfield property="skuNew" /><br />
<label for="markup">
	<f:translate key="tx_erpmanagementproduct_domain_model_variants.markup" />
</label><br />
	<f:form.textfield property="markup" /><br />
<label for="kucun">
	<f:translate key="tx_erpmanagementproduct_domain_model_variants.kucun" />
</label><br />
	<f:form.textfield property="kucun" /><br />
<label for="upcEan">
	<f:translate key="tx_erpmanagementproduct_domain_model_variants.upc_ean" />
</label><br />
	<f:form.textfield property="upcEan" /><br />
<label for="images">
	<f:translate key="tx_erpmanagementproduct_domain_model_variants.images" />
</label><br />
	<f:form.textarea property="images" cols="40" rows="15" /><br />
</html>