<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="subdate">
	<f:translate key="tx_erpmanageproductupload_domain_model_upload.subdate" />
</label><br />
	<f:form.textfield property="subdate" /><br />
<label for="lang">
	<f:translate key="tx_erpmanageproductupload_domain_model_upload.lang" />
</label><br />
	<f:form.textfield property="lang" /><br />
<label for="timing">
	<f:translate key="tx_erpmanageproductupload_domain_model_upload.timing" />
</label><br />
	<f:form.textfield property="timing" /><br />
<label for="st1">
	<f:translate key="tx_erpmanageproductupload_domain_model_upload.st1" />
</label><br />
	<f:form.textfield property="st1" /><br />
<label for="st2">
	<f:translate key="tx_erpmanageproductupload_domain_model_upload.st2" />
</label><br />
	<f:form.textfield property="st2" /><br />
<label for="st3">
	<f:translate key="tx_erpmanageproductupload_domain_model_upload.st3" />
</label><br />
	<f:form.textfield property="st3" /><br />
<label for="st4">
	<f:translate key="tx_erpmanageproductupload_domain_model_upload.st4" />
</label><br />
	<f:form.textfield property="st4" /><br />
<label for="st5">
	<f:translate key="tx_erpmanageproductupload_domain_model_upload.st5" />
</label><br />
	<f:form.textfield property="st5" /><br />
</html>