<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  This template displays a NEW form for the current domain object.

  If you modify this template, do not forget to change the overwrite settings
  in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
      Private:
        Templates:
          New.html: keep

  Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<f:render partial="Messages" arguments="" />
		<f:render partial="FormErrors" />
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="card">
				<div class="card-body">
				<f:form action="update" enctype="multipart/form-data" name="image" object="{image}">
					<f:render partial="Image/FormFields" arguments="{_all}" />
					<f:form.submit class="btn btn-space btn-primary" value="提交" />
					<f:link.action action="list" class="btn btn-space btn-secondary">返回</f:link.action>
				</f:form>
				</div>
			</div>
		</div>
	</f:section>
</html>