<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:sll="http://typo3.org/ns/Sll/Common/ViewHelpers"
	data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<f:flashMessages as="flashMessages">
		<script>
			<f:for each="{flashMessages}" as="flashMessage">
				notify("{flashMessage.message}", "{flashMessage.severity}");
			</f:for>
		</script>
	</f:flashMessages>
	<div class="dataTables_wrapper dt-bootstrap4">
		<div class="row mb-10">
			<div class="col-sm-12 col-md-9">
				<a href="javascript:void(0);" onclick="uploadProductForm()" class="btn btn-info">上传</a>
			</div>
			<div class="col-sm-12 col-md-3">
				<f:form action="list" name="search" object="{search}">
					<div class="input-group justify-content-end">
						<f:form.textfield name="keyword" value="{keyword}" class="form-control" placeholder="关键字" />
						<div class="input-group-append">
							<span class="input-group-text"><i class="ti-search"></i></span>
						</div>
					</div>
				</f:form>
			</div>
		</div><br />
		<div class="row">
			<div class="col-sm-12">
				<div class="table-responsive">
					<sll:widget.paginateBe objects="{uploads}" as="uploadPagination"
						configuration="{settings.paginate}">
						<table class="table table-hover mb-10 size-90">
							<thead>
								<tr>
									<th>#</th>
									<th width="7%">用户</th>
									<th>授权账户</th>
									<th width="15%">amazon分类</th>
									<th width="15%">分类类型</th>
									<th>产品</th>
									<th>关系</th>
									<th>图片</th>
									<th>库存</th>
									<th>价格</th>
									<th>变体</th>
									<th>上传时间</th>
									<th>更新时间</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<f:for each="{uploadPagination}" as="upload" iteration="itemIteration">
									<tr>
										<td>
											{f:cObject(typoscriptObjectPath:'lib.calc',data:'{itemIteration.cycle}+({page}-1)*{settings.paginate.itemsPerPage}')}
										</td>
										<td>{upload.user.username}<br/>({upload.user.name})</td>
										<td>{upload.market}</td>
										<td>{upload.categoryText}</td>
										<td>{upload.template}</td>
										<td class="status-{upload.cpStatus}"><f:translate key="tx_erpmanagementprupload_domain_model_upload.status.{upload.cpStatus}" /></td>
										<td class="status-{upload.gxStatus}"><f:translate key="tx_erpmanagementprupload_domain_model_upload.status.{upload.gxStatus}" /></td>
										<td class="status-{upload.tpStatus}"><f:translate key="tx_erpmanagementprupload_domain_model_upload.status.{upload.tpStatus}" /></td>
										<td class="status-{upload.kcStatus}"><f:translate key="tx_erpmanagementprupload_domain_model_upload.status.{upload.kcStatus}" /></td>
										<td class="status-{upload.jgStatus}"><f:translate key="tx_erpmanagementprupload_domain_model_upload.status.{upload.jgStatus}" /></td>
										<td>{upload.variants}</td>
										<td>{f:format.date(date: upload.uploadtime, format: 'Y-m-d H:i')}</td>
										<td>
											<f:if condition="{upload.lastUpdateDate}>0">
												<f:then>
													{f:format.date(date: upload.lastUpdateDate, format: 'Y-m-d H:i')}
												</f:then>
												<f:else>实时上传</f:else>
											</f:if>
										</td>
										<td>
											<f:link.action title="更新" action="pull" class="btn btn-sm btn-default" arguments="{upload : upload}"><i class="ti-reload"></i></f:link.action>
											<a href="javascript:void(0);" class="btn btn-sm btn-success" onclick="editUploadProductForm({upload.uid})" title="编辑" ><i class="ti-pencil-alt"></i></a>
											<f:link.action title="撤回" action="edit" class="btn btn-sm btn-danger" arguments="{upload : upload}"><i class="fas fa-reply"></i>
											</f:link.action>
										</td>
									</tr>
								</f:for>
							</tbody>
						</table>
					</sll:widget.paginateBe>
				</div>

			</div>
		</div>
	</div>
	<div id="uploadForm" class="hide">
		<f:form action="create" enctype="multipart/form-data" name="upload" object="{upload}" id="pruploadform">
			<table class="table table-bordered mb-10">
				<tbody>
					<tr>
						<th width='100'>起始编号：</th>
						<td>
							<input id="beginNumber" name="beginNumber" class="form-control" type="text" placeholder="上传产品起始编号" onchange="chufa()">
						</td>
						<th>结束编号：</th>
						<td>
							<input id="endNumber" name="endNumber" class="form-control" type="text" placeholder="上传产品结束编号" onchange="chufa()">
						</td>
					</tr>
					<tr>
						<th>产品编号：<span class="error">*</span></th>
						<td colspan="3">
							<f:form.textarea id="puids" property="products" class="form-control" cols="2" placeholder="输入多个产品id，请以英文逗号分隔。例：1101,1102,1105" />
						</td>
					</tr>
					<!-- <tr>
						<th>更新选项：<span class="error">*</span></th>
						<td>
							<label class="checkbox-inline">
								<input id="updateOption" type="checkbox">全选
							</label>&nbsp;
							<label class="checkbox-inline">
								<f:form.checkbox name="updateOption[]" value="_POST_PRODUCT_DATA_" />产品基本信息
							</label>&nbsp;
							<label class="checkbox-inline">
								<f:form.checkbox name="updateOption[]" value="_POST_PRODUCT_PRICING_DATA_" />价格
							</label>&nbsp;
							<label class="checkbox-inline">
								<f:form.checkbox name="updateOption[]" value="_POST_INVENTORY_AVAILABILITY_DATA_" />库存
							</label>&nbsp;
							<label class="checkbox-inline">
								<f:form.checkbox name="updateOption[]" value="_POST_PRODUCT_RELATIONSHIP_DATA_" />关系
							</label>&nbsp;
							<label class="checkbox-inline">
								<f:form.checkbox name="updateOption[]" value="_POST_PRODUCT_IMAGE_DATA_" />图片
							</label>
						</td>
					</tr> -->
					<tr>
						<th>店铺选择：<span class="error">*</span></th>
						<td colspan="3">
							<select class="form-control" onchange="selectMarket(this)" name="tx_erpmanagementprupload_pi1[market]" >
								<option>--请选择店铺--</option>
								<f:for each="{markets}" as="market" iteration="i">
									<option value="{market.name}" lang="{market.lang}">{market.name}</option>
								</f:for>
							</select>
							<f:form.hidden property="lang" id="uploadlang" value="en" />
						</td>
					</tr>
					<tr>
						<th>分类选择：<span class="error">*</span></th>
						<td colspan="3">
							<input type="text" id="categoryValuetext" class="form-control"
								name="tx_erpmanagementprupload_pi1[categoryText]" placeholder="请选择分类" onclick="getCategory()" readonly style="background-color:white;" />
						</td>
					</tr>
					<tr>
						<th>分类节点：<span class="error">*</span></th>
						<td colspan="3">
							<f:form.textfield id="categoryValueid" property="categoryNode" class="form-control" placeholder="分类节点" readonly="readonly" />
						</td>
					</tr>
					<tr>
						<th>分类模板：<span class="error">*</span></th>
						<td colspan="3">
							<input type="text" id="uploadType" class="form-control" name="tx_erpmanagementprupload_pi1[template]" placeholder="请选择分类模板" onclick="getTemplate()" readonly style="background-color:white;" />
							<!-- <f:form.hidden name="uploadTypeId" id="uploadTypeId" /> -->
						</td>
					</tr>
					<tr>
						<th>上传时间：</th>
						<td colspan="3">
							<f:form.select id="market" name="uploadTime" options="{times}" optionValueField="val" optionLabelField="title" prependOptionLabel="--请选择时间--" class="form-control" />
						</td>
					</tr>
				</tbody>
			</table>
			<div class="container-fluid text-right">
				<f:form.submit class="btn btn-space btn-success" value="提交" />
				<a href="javascript:void(0);" onclick="layer.closeAll();" class="btn btn-space btn-danger">取消</a>
			</div>
		</f:form>
	</div>
	<script>
		//上传商品
		function uploadProductForm(){
			$("#pruploadform")[0].reset();
			layer.open({
				type: 1,
				title: '商品上传',
				maxmin: true,
				shadeClose: false,
				area: ['700px', '480px'],
				content: $("#uploadForm"),
			});
		}
		//编辑上传
		function editUploadProductForm(uid=0){
			console.log(uid);
			$.ajax({
				cache: true,
				type: "POST",
				url: "/api/getupload",
				data: { cmd: 'getupload', uid: uid },
				async: false,
				success: function (data) {
					$("#pruploadform")[0].reset();
					$("#puids").val(sta);

					layer.open({
						type: 1,
						title: '商品上传',
						maxmin: true,
						shadeClose: false,
						area: ['700px', '480px'],
						content: $("#uploadForm"),
					});
				}
			});
			
		}

		//获取商品类别
		function getCategory(){
			layer.open({
				type: 2,
				title: '商品类别',
				maxmin: true,
				shadeClose: false,
				area: ['800px', '620px'],
				content: "/api/getcategory",
			});
		}
		//获取商品模板
		function getTemplate(){
			layer.open({
				type: 2,
				title: '选择分类模板',
				shadeClose: false, // 点击遮罩关闭层
				area: ['600px', '400px'],
				content: "/api/gettemplate",
			});
		}
		function chufa(){
			if ($("#beginNumber").val() != null && $("#endNumber").val() != null) {
				$.ajax({
					cache: true,
					type: "POST",
					url: "/api/getproduct",
					data: { cmd: 'queryRange', beginNumber: $("#beginNumber").val(), endNumber: $("#endNumber").val() },
					async: false,
					success: function (data) {
						var dataval = "";
						for (var i = 0; i < data.length; i++) {
							dataval += data[i] + ",";
						}
						$("#puids").val(dataval.substring(0, dataval.length - 1));
						// $("#puids").valid();
					}
				});
			}
		}
		function selectMarket(obj) {
			var sta = $(obj).find('option:selected').attr('lang');
			$("#uploadlang").val(sta);
		}
		$('#updateOption').on('click', function () {
			if (this.checked) {
				$("input[name='tx_erpmanagementprupload_pi1[updateOption][]']").attr('checked', true);
			} else {
				$("input[name='tx_erpmanagementprupload_pi1[updateOption][]']").attr('checked', false);
			}
		});
	</script>
</f:section>

</html>
