<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_erpmanageproducttemplate_domain_model_template.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="nameEn">
	<f:translate key="tx_erpmanageproducttemplate_domain_model_template.name_en" />
</label><br />
	<f:form.textfield property="nameEn" /><br />
<label for="code">
	<f:translate key="tx_erpmanageproducttemplate_domain_model_template.code" />
</label><br />
	<f:form.textfield property="code" /><br />
<label for="close">
	<f:translate key="tx_erpmanageproducttemplate_domain_model_template.close" />
</label><br />
	<f:form.textfield property="close" /><br />
<label for="parentId">
	<f:translate key="tx_erpmanageproducttemplate_domain_model_template.parent_id" />
</label><br />
	<f:form.textfield property="parentId" /><br />
<label for="bodytext">
	<f:translate key="tx_erpmanageproducttemplate_domain_model_template.bodytext" />
</label><br />
	<f:form.textarea property="bodytext" cols="40" rows="15" /><br />
</html>