<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-erp-manage-product-template" >
	<tr>
		<td>
			<f:translate key="tx_erpmanageproducttemplate_domain_model_template.name" />
		</td>
		<td>
		{template.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanageproducttemplate_domain_model_template.name_en" />
		</td>
		<td>
		{template.nameEn}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanageproducttemplate_domain_model_template.code" />
		</td>
		<td>
		{template.code}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanageproducttemplate_domain_model_template.close" />
		</td>
		<td>
		{template.close}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanageproducttemplate_domain_model_template.parent_id" />
		</td>
		<td>
		{template.parentId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanageproducttemplate_domain_model_template.bodytext" />
		</td>
		<td>
		{template.bodytext}
		</td>
	</tr>
</table>
</html>