<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="authcode">
	<f:translate key="tx_erpmanagementuser_domain_model_usermanagement.authcode" />
</label><br />
	<f:form.textfield property="authcode" /><br />
<label for="wxopenid">
	<f:translate key="tx_erpmanagementuser_domain_model_usermanagement.wxopenid" />
</label><br />
	<f:form.textfield property="wxopenid" /><br />
<label for="bindip">
	<f:translate key="tx_erpmanagementuser_domain_model_usermanagement.bindip" />
</label><br />
	<f:form.textarea property="bindip" cols="40" rows="15" /><br />
<label for="nickname">
	<f:translate key="tx_erpmanagementuser_domain_model_usermanagement.nickname" />
</label><br />
	<f:form.textfield property="nickname" /><br />
</html>