<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-erp-management-user" >
	<tr>
		<td>
			<f:translate key="tx_erpmanagementuser_domain_model_usermanagement.authcode" />
		</td>
		<td>
		{userManagement.authcode}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementuser_domain_model_usermanagement.wxopenid" />
		</td>
		<td>
		{userManagement.wxopenid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementuser_domain_model_usermanagement.bindip" />
		</td>
		<td>
		{userManagement.bindip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_erpmanagementuser_domain_model_usermanagement.nickname" />
		</td>
		<td>
		{userManagement.nickname}
		</td>
	</tr>
</table>
</html>